<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <title>🇺🇦 {% block title %}Довідник КАТОТТГ{% endblock %}</title>
  {% block meta %}
  {% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
  {% block styles %}
  {% endblock %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="{{ url_for("territories") }}" class="navbar-brand d-flex align-items-center">
        <i class="bi bi-map me-3 logo"></i>
        <strong>Довідник КАТОТТГ</strong>
      </a>
      <a href="/api" class="navbar-brand d-flex align-items-center">
        <strong>API</strong>
      </a>
    </div>
  </div>
</header>
<main class="container pt-4">
  <form class="w-100 mb-4 input-group" action="{{ url_for("territories-search") }}">
    <input
        type="search"
        class="form-control"
        placeholder="Введіть назву чи код..."
        aria-label="Пошук"
        name="q"
        value="{{ query }}"
    >
    <button class="btn btn-outline-secondary" type="submit">Пошук</button>
  </form>
  {% block content %}{% endblock %}
  <hr/>
  <p class="mt-4 text-muted">
    <b>КАТОТТГ</b> - кодифікатор адміністративно-територіальних одиниць та територій територіальних громад, національний
    реєстр адміністративно-територіальних одиниць та територій територіальних громад України, введений 26 листопада 2020
    року наказом Міністерства розвитку громад та територій України (Мінрегіону).
  </p>
  <div class="my-5 d-flex flex-row gap-2 justify-content-center text-muted">
    <div>Зроблено з ❤️ в Україні</div>
    <div>/</div>
    <a target=”_blank” href="https://hyzyla.dev">Євгеній Гизила</a>
  </div>
</main>
</body>
</html>