{% extends "base.html" %}

{% block title %}Довідник КАТОТТГ{% endblock %}
{% block meta %}
      <meta name="description" content="Каталог/реєстр по кодів КАТОТТГ — кодифікатору адміністративно-територіальних одиниць та територій територіальних громад">
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="fw-bold">Україна 🇺🇦</h2>
    <div class="text-muted">версія від {{ date_updated.strftime('%d.%m.%Y') }}</div>
  </div>

  <div class="list-group mt-4">
    {% for territory in territories %}
      <a class="list-group-item" href="{{ url_for('territory', code=territory.code) }}">{{ territory.name }}</a>
    {% endfor %}
  </div>

{% endblock %}
