{% extends "base.html" %}

{% block title %}Довідник КАТОТТГ{% endblock %}
{% block meta %}
      <meta name="description" content="Каталог/реєстр по кодів КАТОТТГ — кодифікатору адміністративно-територіальних одиниць та територій територіальних громад">
{% endblock %}

{% block content %}
  <h2 class="fw-bold">Україна 🇺🇦</h2>
  <div class="list-group mt-4">
    {% for territory in territories %}
      <a class="list-group-item" href="{{ url_for('territory', code=territory.code) }}">{{ territory.name }}</a>
    {% endfor %}
  </div>

{% endblock %}
